Crie um algoritmo em Python que peça uma nota, entre zero e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [0]:
# INSIRA SEU CÓDIGO AQUI

nota = int(input("Digite uma nota entre 0 e 100:  "))

while nota > 100 or nota < 0:
    print("Numero invalido")
    nota = int(input("Digite uma nota entre 0 e 100:  "))

Digite uma nota entre 0 e 100:  101
Numero invalido
Digite uma nota entre 0 e 100:  102
Numero invalido
Digite uma nota entre 0 e 100:  104
Numero invalido
Digite uma nota entre 0 e 100:  23

Crie um algoritmo em Python que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [0]:
# INSIRA SEU CÓDIGO AQUI
nome = input("Digite o nome de usuário: ")
senha = input("Digite a senha somente letras: ")

while nome == senha:
    print("Senha invalida não pode ser igual ao nome de usuário!")
    senha = input("Digite a senha somente letras: ")

Digite o nome de usuário: maria
Digite a senha somente letras: maria
Senha invalida não pode ser igual ao nome de usuário!
Digite a senha somente letras: betania

Crie um algoritmo em Python que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [0]:
# INSIRA SEU CÓDIGO AQUI

Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%.<br><br> Crie um algoritmo em Python que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [0]:
# INSIRA SEU CÓDIGO AQUI
populacaoA = 80000
populacaoB = 200000

crescimentoA = 0.03
crescimentoB = 0.01

ano = 0

while populacaoA < populacaoB:
    populacaoA += populacaoA * 0.03
    populacaoB += populacaoB * 0.015
    ano += 1

print(" A População do País A, ultrapassa ou iguala a População do País B em %d anos" %ano)

 A População do País A, ultrapassa ou iguala a População do País B em 63 anos

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [0]:
# INSIRA SEU CÓDIGO AQUI
tabuada = int(input("Digite a tabuada do número: "))

for count in range(10):
    print("%d x %d = %d" % (tabuada, count+1, tabuada*(count+1)) )

Digite a tabuada do número: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Crie um algoritmo em Python que leia três números e mostre o maior e o menor deles.

In [0]:
# INSIRA SEU CÓDIGO AQUI
lista = []

numero = 3
while numero > 0:
    num = int(input("Digite um número: "))
    numero -= 1
    lista.append(num)
print(f"O número maior é: {max(lista)} e o número menor é: {min(lista)} ")

Digite um número: 2
Digite um número: 6
Digite um número: 98
O número maior é: 98 e o número menor é: 2

Crie um algoritmo em Python que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [0]:
# INSIRA SEU CÓDIGO AQUI
base=int(input("Base: "))
expoente=int(input("Expoente: "))

potencia=1

for count in range(expoente):
    potencia *= base
    count += 1

print(base,"^",expoente,"=",potencia)

Base: 25
Expoente: 2
25 ^ 2 = 625

Crie um algoritmo em Python que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [0]:
# INSIRA SEU CÓDIGO AQUI
par = 0
impar = 0
numero = 10
while numero > 0:
    inteiro=int(input("Digite um número inteiro: "))
    numero -= 1
    if (inteiro % 2) == 0:
        interiro = par
        par = par +1
    else:
        inteiro = impar
        impar = impar +1

print(f"A quantidade de números Pares é: {par} e  A quantidade de números Impares é: {impar} ")

Digite um número inteiro: 2
Digite um número inteiro: 6
Digite um número inteiro: 8
Digite um número inteiro: 15
Digite um número inteiro: 56
Digite um número inteiro: 66
Digite um número inteiro: 89
Digite um número inteiro: 3
Digite um número inteiro: 10
Digite um número inteiro: 78
A quantidade de números Pares é: 7 e  A quantidade de números Impares é: 3

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que:
Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00;
Em 1996 recebeu aumento de 1,5% sobre seu salário inicial;
A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em Python que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário.

In [0]:
# INSIRA SEU CÓDIGO AQUI
salario = float(input("Digite o salário do funcionário: "))
percentual = 0.015
ano = 1996

while ano <= 2020:
    print(f'Ano Percentual Salario {ano} {percentual} {salario}')
    salario += (salario *(percentual / 100.0))
    percentual *= 2
    ano += 1

print(f'O Salário atual do funcionário: {salario:.2f}'.format(salario))

Digite o salário do funcionário: 1000
Ano Percentual Salario 1996 0.015 1000.0
Ano Percentual Salario 1997 0.03 1000.15
Ano Percentual Salario 1998 0.06 1000.4500449999999
Ano Percentual Salario 1999 0.12 1001.0503150269999
Ano Percentual Salario 2000 0.24 1002.2515754050323
Ano Percentual Salario 2001 0.48 1004.6569791860044
Ano Percentual Salario 2002 0.96 1009.4793326860972
Ano Percentual Salario 2003 1.92 1019.1703342798837
Ano Percentual Salario 2004 3.84 1038.7384046980576
Ano Percentual Salario 2005 7.68 1078.625959438463
Ano Percentual Salario 2006 15.36 1161.464433123337
Ano Percentual Salario 2007 30.72 1339.8653700510815
Ano Percentual Salario 2008 61.44 1751.4720117307738
Ano Percentual Salario 2009 122.88 2827.576415738161
Ano Percentual Salario 2010 245.76 6302.102315397213
Ano Percentual Salario 2011 491.52 21790.148965717402
Ano Percentual Salario 2012 983.04 128893.08916201157
Ano Percentual Salario 2013 1966.08 1395963.7128602501
Ano Percentual Salario 2014 3932.16 28841727.07866305
Ano Percentual Salario 2015 7864.32 1162944582.57502
Ano Percentual Salario 2016 15728.64 92620627978.93884
Ano Percentual Salario 2017 31457.28 14660585768525.504
Ano Percentual Salario 2018 62914.56 4626482100613745.0
Ano Percentual Salario 2019 125829.12 2.915357339180508e+18
Ano Percentual Salario 2020 251658.24 3.671283842085429e+21
O Salário atual do funcionário: 9242759586238653815324672.00

In [0]:
 
ano = int(input("Digite o ano que foi contratado "))
salario = int(input("Digite o salaŕio quando foi contratado: " ))
anoFinalizado = int(input("Digite o ultimo ano que trabalhou: "))
ajuste = 0.015
ano += 1
x = 1
 
while ano <= anoFinalizado:
    if ano <= 1995 or x ==1:
        ajuste = ajuste
    else:
        ajuste = ajuste*2
    salario = salario + salario*ajuste 
    print(f'{ano} {ajuste*100} Salario ajustado de R${salario:.1f}'.format(salario))
    ano += 1
    x += 1

Digite o ano que foi contratado 1995
Digite o salaŕio quando foi contratado: 1000
Digite o ultimo ano que trabalhou: 2000
1996 1.5 Salario ajustado de R$1015.0
1997 3.0 Salario ajustado de R$1045.5
1998 6.0 Salario ajustado de R$1108.2
1999 12.0 Salario ajustado de R$1241.2
2000 24.0 Salario ajustado de R$1539.0

Crie um algoritmo em Python com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [0]:
# INSIRA SEU CÓDIGO AQUI
def definir(n):
    n = int(input("Digite um número: "))
    if n > 0:
        return('P')
    
    else:
        return('N')

definir(n)

Digite um número: -1

'N'

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [0]:
# INSIRA SEU CÓDIGO AQUI

import datetime

data = int(input("Digite a data em formato DD/MM/AAAA: ")) 

datetime_obj = datetime.datetime.strptime(date_str, format_str)
 
print(datetime_obj.strftime("%d/%m/%Y"))

Digite a data em formato DD/MM/AAAA: 552020
08/05/2020

Crie uma classe que modele uma pessoa:<br>

Atributos: nome, idade, peso e altura<br>
Métodos: Envelhercer, engordar, emagrecer, crescer.<br>
<br>Obs: Por padrão, a cada ano que nossa pessoa envelhece, sendo a idade dela menor que 21 anos, ela deve crescer 0,5 cm.

In [0]:
# INSIRA SEU CÓDIGO AQUI

class Pessoa():
    def __init__(self, nome: str, idade: int, peso: float, altura: float):
        self.nome = nome
        self.idade = idade
        self.peso = peso
        self.altura = altura

    def envelhecer(self):
        if self.idade > 21:
            self.altura += 0.5

    def engordar(self, peso):
        self.peso += peso

    def emagrecer(self, peso):
        self.peso -= peso

    def crecer(self, altura):
        self.altura += altura

    def formaPessoa(self):
        print(f'Nome: {self.nome}, idade: {self.idade} anos, peso: {self.peso}Kg, altura: {self.altura}m')

p1 = Pessoa('Betania', 24, 49.3, 1.60)
p1.formaPessoa()
p1.envelhecer()
p1.emagrecer(2)
p1.formaPessoa()

Nome: Betania, idade: 24 anos, peso: 49.3Kg, altura: 1.6m
Nome: Betania, idade: 24 anos, peso: 47.3Kg, altura: 2.1m